@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', 'Helvetica Neue Light', 'Open Sans', Helvetica;
    min-width: 700px;
}

a {
    text-decoration: none;
    color: #101011;

    &:link &:visited &:hover &:active {
        color: #101011;
    }
}

.ka-tbody {
    max-height: 400px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
}

.selection-demo {
    width: 100%;

    input {
        vertical-align: middle;
    }
}

.btn-primary {
    padding: 0.5rem 1rem;
    background-color: #F1F5F7;
    align-self: flex-end;
}


.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
}

.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

.import-app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.ka-table {
    table-layout: auto !important;
}

.full-screen-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #dbdbdbc9;
}

.result {
    background-color: white;
    max-width: 600px;
    padding: 48px;
}